@media only screen and (min-width: 75rem) {
  html main {
    padding: 0.15rem;
  }
  nav {
    max-width: 55rem;
  }
  .threegrid,
  .fourgrid {
    display: grid;
    grid-template-rows: auto;
  }
  .threegrid {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .fourgrid {
    grid-template-columns: repeat(4, 1fr);
  }
  nav,
  .fourgrid,
  .threegrid,
  #target {
    margin: 0 auto;
  }
  .fourgrid,
  .threegrid,
  #target {
    max-width: 80rem;
  }
  .namedate {
    float: right;
    font-size: 1rem;
    margin-top: -3rem;
    line-height: 1.2rem;
    text-align: right;
  }
}
